body{
    background-image: url("./images/pattern.png");
    background-size:90px;
    background-color: #A2A2A2;
}

.page{
    position:relative;
    width:800px;
    height:500px;
    background-color: #ADD2DE;
    border-radius: 1em;
    margin: 100px 200px 100px 200px;

}

.container{
    position:absolute;
    top:30px;
    right:50px;
    bottom:30px;
    left:50px;
    width:700px;
    height:440px;
    background-color: white;
    border-radius: 1em;
    outline-style: dotted;
    outline-width: 2px;
    outline-color: white;

}