body{
    background-image: url("./images/pattern.png");
    background-size:90px;
    background-color: #A2A2A2;
}

.page{
    position:relative;
    width:800px;
    height:500px;
    background-color: #ADD2DE;
    border-radius: 1em;
    margin: 100px 200px 100px 200px;

}

.container{
    position:absolute;
    top:10px;
    right:10px;
    bottom:10px;
    left:10px;
    border-style: dotted;
    border-color: white;
    border-radius: 1.5em;
}

.content{
    position:absolute;
    top:7px;
    right:7px;
    bottom:7px;
    left:7px;
    width:760px;
    height:460px;
    background-color: white;
    border-radius: 1em;
}