.content{
    flex:1;
    display: flex;
    margin:10px;
    border: 1px solid #eeeeee;
    border-radius: 0.5em;
}

.miniroom{
    flex-basis: 5%;
    flex-shrink: 0;
    width: 90%;
    margin-top: 20px;
    font-size: 9pt;
    color:#248DB4;
}

.myroom{
    flex-basis: 50%;
    flex-shrink: 0;
    width: 90%;
    outline-style:  solid;
    outline-width: 0.1rem;
    outline-color: #424242;
}

.writeReview{
    flex-basis:5%;
    flex-shrink: 0;
    font-size: 9pt;
    width: 90%;
    margin-top:20px;
    color:#248DB4;
}
#review{
    flex-basis: 30%;
    flex-shrink: 0;
    width: 90%;
    font-size: 9pt;
    margin-top: 20px;
    
}