body{
    background-image: url("./images/pattern.png");
    background-size:90px;
    background-color: #A3A3A3;
}

.bookcover{
    position:relative;
    width:800px;
    height:500px;
    background-color: #ADD2DE;
    border-radius: 1em;
    margin: 100px auto;

}

.bookdot{
    position:absolute;
    top:10px;
    right:10px;
    bottom:10px;
    left:10px;
    border-style: dotted;
    border-color: white;
    border-radius: 1.5em;
}

.page{
    position:absolute;
    top:10px;
    right:10px;
    bottom:10px;
    left:10px;
    background-color: #eeeeee;
    border-radius: 1em;
    display: flex;
    padding:15px;
}

.column1{
    flex: 0.4;
    display: flex;
    flex-direction:column;
    
}

.column2{
    flex:1;
    display: flex;
    flex-direction: column;
}

.column3{
    flex:0.15;
    display: flex;
    flex-direction: column;

}


.box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    flex:0;
    display: flex;
    margin: 0px 10px 0px 10px;
    font-size: 9pt;
}

.mytitle{
    flex:0.5;
    margin: 0px 5px 0px 10px;
}

.myurl{
    flex:0.5;
}

.number{
    flex:0;
    font-size: 9pt;
    margin: 0px 10px 0px 10px;
    text-align: center;

}

.num{
    color:red;
}

.profile{
    flex:1;
    display: flex;
    margin:10px;
    border: 1px solid #eeeeee;
    border-radius: 0.5em;
}

.img{
    flex-basis:20%;
    flex-grow: 0;
    margin:20px 0px 10px 0px;
}

.txt{
    flex-basis:30%;
    flex-grow: 0;
    font-size: 9pt;
    margin:0px 15px 0px 15px;
}

.nickname{
    flex-basis:10%;
    flex-grow:0;
    width:130px;
    font-size: 9pt;
}

.profile-dropdown {
    flex-basis: 10%;
    flex-grow: 0;
    width: 130px;
    border: 1px solid #c9d4da;
    padding: 5px;
    font-size: 0.8rem;
  }
  
.triangle-down { 
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #838383;
  }
  
.dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.dropdown-content {
    display: none;
    width: 130px;
  }
  
.profile-dropdown:hover > .dropdown-content {
    display: block;
  }
  
.dropdown-content > a {
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 130px;
    padding: 6px;
    color: black;
    text-decoration: none;
  }
  
.dropdown-content > a:hover {
    background-color: #f1f1f1;
  }

.empty{
    flex : 0;
    margin:20px;
}

.menu{
    flex : 0;
    display: flex;
    flex-direction: column;
}

.item{
    margin-top: 10px;
    padding:2px;
    font-size: 10pt;
}

.menu a{
    background-color: #2C8CB7;
    border: 1px solid #1D5D6F;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color:white;
    text-decoration: none;
}

.menu a:active{
    background-color: white;
    color:black;
}

.menu a:hover{
    background-color: #1D5D6F;
}

