.content{
    flex:1;
    display: flex;
    margin:10px 0px 10px 10px;
    border: 1px solid #eeeeee;
    border-radius: 0.5em;
    overflow: auto;
}

.photo-title{
    width: 90%;
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
    font-size: 9pt;
    color:#424242;
}

.photo-img{
    display: flex;
    margin-top: 10px;
    width: 90%;
}

.upload-img{
    width:90%;
}

.photo-txt{
    width:100%;
    margin: 10px 0px 30px 0px;
    text-align: left;
    font-size: 8pt;
}
